
.navbar {
    position: relative;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    z-index: 1000;
    display: flex;
    align-items: center;
  } 

.navbar h1 {
    margin: 0;
}

.navbarLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 120px;
    margin: 0 auto;
    padding: 0 20px;
    margin-left: -10px; /* Shift links and button to the left */
}

.navbarLinks a::after {
    content: " | ";
    color: white;
    position: absolute;
    right: -10px;
}

.navbarLinks a:last-child::after {
    content: ""; /*Remove the last separator*/
}


.navbarLinks a:hover, .navbarLinks button:hover {
    background-color: #555; 
    border-radius: 4px;
    text-decoration: underline;
}

.separator {
    color: white; /* Muted color for the separator */
    font-weight: normal;
    pointer-events: none; /* Makes the separator non-clickable */
 }

  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
    
  .navbar a:hover {
    text-decoration: underline;
  }
